extends layout

block content
  
  #main(class="container")           
    
    if isSignedIn
      div(class="alert alert-success" role="alert")
        p Welcome #{adminName}!
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
      br
      include upload.pug    
    else
      p Please sign in
