extends layout

block content
  
  #main(class="container")           
    br
    br
      
    div(class="alert alert-info" role="alert")
      p #{message}
    br
    br
    div.row
      div.col-12
        button(type="button" class="btn btn-primary btn-lg btn-block" id="btn-migrate-to-firebase" ) Start Migration      
block scripts
  script(src='/js/import.js')