body {
  font-family: "Baloo Tamma 2", cursive;
}

a {
  color: #7453f0;
}

.btn-primary {
  background-color: #7453f0;
  color: white;
}

.container {
  padding-top: 20px;
}

.row {
  padding: 20px 0 20px 0;
}
